<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLudicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLudicaLabel_pkLudica}" for="pkLudica" />
                    <h:inputText id="pkLudica" value="#{ludicaController.selected.pkLudica}" title="#{bundle.CreateLudicaTitle_pkLudica}" required="true" requiredMessage="#{bundle.CreateLudicaRequiredMessage_pkLudica}"/>
                    <h:outputLabel value="#{bundle.CreateLudicaLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{ludicaController.selected.codigo}" title="#{bundle.CreateLudicaTitle_codigo}" required="true" requiredMessage="#{bundle.CreateLudicaRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.CreateLudicaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{ludicaController.selected.nombre}" title="#{bundle.CreateLudicaTitle_nombre}" required="true" requiredMessage="#{bundle.CreateLudicaRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateLudicaLabel_fkHorario}" for="fkHorario" />
                    <h:selectOneMenu id="fkHorario" value="#{ludicaController.selected.fkHorario}" title="#{bundle.CreateLudicaTitle_fkHorario}" >
                        <f:selectItems value="#{horarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ludicaController.create}" value="#{bundle.CreateLudicaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{ludicaController.prepareList}" value="#{bundle.CreateLudicaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLudicaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
