<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLudicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLudicaEmpty}" rendered="#{ludicaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ludicaController.items.rowCount > 0}">
                    <h:outputText value="#{ludicaController.pagination.pageFirstItem + 1}..#{ludicaController.pagination.pageLastItem + 1}/#{ludicaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ludicaController.previous}" value="#{bundle.Previous} #{ludicaController.pagination.pageSize}" rendered="#{ludicaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ludicaController.next}" value="#{bundle.Next} #{ludicaController.pagination.pageSize}" rendered="#{ludicaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ludicaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLudicaTitle_pkLudica}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkLudica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLudicaTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLudicaTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLudicaTitle_fkHorario}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkHorario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ludicaController.prepareView}" value="#{bundle.ListLudicaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ludicaController.prepareEdit}" value="#{bundle.ListLudicaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ludicaController.destroy}" value="#{bundle.ListLudicaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ludicaController.prepareCreate}" value="#{bundle.ListLudicaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLudicaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
