<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLudicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLudicaLabel_pkLudica}"/>
                    <h:outputText value="#{ludicaController.selected.pkLudica}" title="#{bundle.ViewLudicaTitle_pkLudica}"/>
                    <h:outputText value="#{bundle.ViewLudicaLabel_codigo}"/>
                    <h:outputText value="#{ludicaController.selected.codigo}" title="#{bundle.ViewLudicaTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewLudicaLabel_nombre}"/>
                    <h:outputText value="#{ludicaController.selected.nombre}" title="#{bundle.ViewLudicaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewLudicaLabel_fkHorario}"/>
                    <h:outputText value="#{ludicaController.selected.fkHorario}" title="#{bundle.ViewLudicaTitle_fkHorario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ludicaController.destroyAndView}" value="#{bundle.ViewLudicaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLudicaEditLink}"/>
                <br />
                <h:commandLink action="#{ludicaController.prepareCreate}" value="#{bundle.ViewLudicaCreateLink}" />
                <br />
                <h:commandLink action="#{ludicaController.prepareList}" value="#{bundle.ViewLudicaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLudicaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
