<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAprendizfichaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAprendizfichaLabel_pkAprendizficah}" for="pkAprendizficah" />
                    <h:inputText id="pkAprendizficah" value="#{aprendizfichaController.selected.pkAprendizficah}" title="#{bundle.EditAprendizfichaTitle_pkAprendizficah}" required="true" requiredMessage="#{bundle.EditAprendizfichaRequiredMessage_pkAprendizficah}"/>
                    <h:outputLabel value="#{bundle.EditAprendizfichaLabel_fkAprendiz}" for="fkAprendiz" />
                    <h:selectOneMenu id="fkAprendiz" value="#{aprendizfichaController.selected.fkAprendiz}" title="#{bundle.EditAprendizfichaTitle_fkAprendiz}" >
                        <f:selectItems value="#{aprendizController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditAprendizfichaLabel_fkFicha}" for="fkFicha" />
                    <h:selectOneMenu id="fkFicha" value="#{aprendizfichaController.selected.fkFicha}" title="#{bundle.EditAprendizfichaTitle_fkFicha}" >
                        <f:selectItems value="#{fichaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{aprendizfichaController.update}" value="#{bundle.EditAprendizfichaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAprendizfichaViewLink}"/>
                <br />
                <h:commandLink action="#{aprendizfichaController.prepareList}" value="#{bundle.EditAprendizfichaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAprendizfichaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
