<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAprendizfichaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAprendizfichaEmpty}" rendered="#{aprendizfichaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{aprendizfichaController.items.rowCount > 0}">
                    <h:outputText value="#{aprendizfichaController.pagination.pageFirstItem + 1}..#{aprendizfichaController.pagination.pageLastItem + 1}/#{aprendizfichaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{aprendizfichaController.previous}" value="#{bundle.Previous} #{aprendizfichaController.pagination.pageSize}" rendered="#{aprendizfichaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{aprendizfichaController.next}" value="#{bundle.Next} #{aprendizfichaController.pagination.pageSize}" rendered="#{aprendizfichaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{aprendizfichaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizfichaTitle_pkAprendizficah}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAprendizficah}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizfichaTitle_fkAprendiz}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkAprendiz}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizfichaTitle_fkFicha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkFicha}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{aprendizfichaController.prepareView}" value="#{bundle.ListAprendizfichaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{aprendizfichaController.prepareEdit}" value="#{bundle.ListAprendizfichaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{aprendizfichaController.destroy}" value="#{bundle.ListAprendizfichaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{aprendizfichaController.prepareCreate}" value="#{bundle.ListAprendizfichaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAprendizfichaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
