<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAprendizfichaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAprendizfichaLabel_pkAprendizficah}"/>
                    <h:outputText value="#{aprendizfichaController.selected.pkAprendizficah}" title="#{bundle.ViewAprendizfichaTitle_pkAprendizficah}"/>
                    <h:outputText value="#{bundle.ViewAprendizfichaLabel_fkAprendiz}"/>
                    <h:outputText value="#{aprendizfichaController.selected.fkAprendiz}" title="#{bundle.ViewAprendizfichaTitle_fkAprendiz}"/>
                    <h:outputText value="#{bundle.ViewAprendizfichaLabel_fkFicha}"/>
                    <h:outputText value="#{aprendizfichaController.selected.fkFicha}" title="#{bundle.ViewAprendizfichaTitle_fkFicha}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{aprendizfichaController.destroyAndView}" value="#{bundle.ViewAprendizfichaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAprendizfichaEditLink}"/>
                <br />
                <h:commandLink action="#{aprendizfichaController.prepareCreate}" value="#{bundle.ViewAprendizfichaCreateLink}" />
                <br />
                <h:commandLink action="#{aprendizfichaController.prepareList}" value="#{bundle.ViewAprendizfichaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAprendizfichaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
