<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEventoLabel_pkEvento}" for="pkEvento" />
                    <h:inputText id="pkEvento" value="#{eventoController.selected.pkEvento}" title="#{bundle.EditEventoTitle_pkEvento}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_pkEvento}"/>
                    <h:outputLabel value="#{bundle.EditEventoLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{eventoController.selected.codigo}" title="#{bundle.EditEventoTitle_codigo}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.EditEventoLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{eventoController.selected.nombre}" title="#{bundle.EditEventoTitle_nombre}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditEventoLabel_fechainiciEvento}" for="fechainiciEvento" />
                    <h:inputText id="fechainiciEvento" value="#{eventoController.selected.fechainiciEvento}" title="#{bundle.EditEventoTitle_fechainiciEvento}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_fechainiciEvento}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditEventoLabel_fechafinal}" for="fechafinal" />
                    <h:inputText id="fechafinal" value="#{eventoController.selected.fechafinal}" title="#{bundle.EditEventoTitle_fechafinal}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_fechafinal}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditEventoLabel_canthoras}" for="canthoras" />
                    <h:inputText id="canthoras" value="#{eventoController.selected.canthoras}" title="#{bundle.EditEventoTitle_canthoras}" />
                    <h:outputLabel value="#{bundle.EditEventoLabel_fkTipoevento}" for="fkTipoevento" />
                    <h:selectOneMenu id="fkTipoevento" value="#{eventoController.selected.fkTipoevento}" title="#{bundle.EditEventoTitle_fkTipoevento}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_fkTipoevento}">
                        <f:selectItems value="#{tipoeventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{eventoController.update}" value="#{bundle.EditEventoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEventoViewLink}"/>
                <br />
                <h:commandLink action="#{eventoController.prepareList}" value="#{bundle.EditEventoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEventoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
