<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEventoLabel_pkEvento}"/>
                    <h:outputText value="#{eventoController.selected.pkEvento}" title="#{bundle.ViewEventoTitle_pkEvento}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_codigo}"/>
                    <h:outputText value="#{eventoController.selected.codigo}" title="#{bundle.ViewEventoTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_nombre}"/>
                    <h:outputText value="#{eventoController.selected.nombre}" title="#{bundle.ViewEventoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_fechainiciEvento}"/>
                    <h:outputText value="#{eventoController.selected.fechainiciEvento}" title="#{bundle.ViewEventoTitle_fechainiciEvento}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewEventoLabel_fechafinal}"/>
                    <h:outputText value="#{eventoController.selected.fechafinal}" title="#{bundle.ViewEventoTitle_fechafinal}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewEventoLabel_canthoras}"/>
                    <h:outputText value="#{eventoController.selected.canthoras}" title="#{bundle.ViewEventoTitle_canthoras}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_fkTipoevento}"/>
                    <h:outputText value="#{eventoController.selected.fkTipoevento}" title="#{bundle.ViewEventoTitle_fkTipoevento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{eventoController.destroyAndView}" value="#{bundle.ViewEventoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEventoEditLink}"/>
                <br />
                <h:commandLink action="#{eventoController.prepareCreate}" value="#{bundle.ViewEventoCreateLink}" />
                <br />
                <h:commandLink action="#{eventoController.prepareList}" value="#{bundle.ViewEventoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEventoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
