<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditActividadludicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditActividadludicaLabel_pkActividadludica}" for="pkActividadludica" />
                    <h:inputText id="pkActividadludica" value="#{actividadludicaController.selected.pkActividadludica}" title="#{bundle.EditActividadludicaTitle_pkActividadludica}" required="true" requiredMessage="#{bundle.EditActividadludicaRequiredMessage_pkActividadludica}"/>
                    <h:outputLabel value="#{bundle.EditActividadludicaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{actividadludicaController.selected.nombre}" title="#{bundle.EditActividadludicaTitle_nombre}" required="true" requiredMessage="#{bundle.EditActividadludicaRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditActividadludicaLabel_fkLudica}" for="fkLudica" />
                    <h:selectOneMenu id="fkLudica" value="#{actividadludicaController.selected.fkLudica}" title="#{bundle.EditActividadludicaTitle_fkLudica}" >
                        <f:selectItems value="#{ludicaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{actividadludicaController.update}" value="#{bundle.EditActividadludicaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditActividadludicaViewLink}"/>
                <br />
                <h:commandLink action="#{actividadludicaController.prepareList}" value="#{bundle.EditActividadludicaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditActividadludicaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
