<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListActividadludicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListActividadludicaEmpty}" rendered="#{actividadludicaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{actividadludicaController.items.rowCount > 0}">
                    <h:outputText value="#{actividadludicaController.pagination.pageFirstItem + 1}..#{actividadludicaController.pagination.pageLastItem + 1}/#{actividadludicaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{actividadludicaController.previous}" value="#{bundle.Previous} #{actividadludicaController.pagination.pageSize}" rendered="#{actividadludicaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{actividadludicaController.next}" value="#{bundle.Next} #{actividadludicaController.pagination.pageSize}" rendered="#{actividadludicaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{actividadludicaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListActividadludicaTitle_pkActividadludica}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkActividadludica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListActividadludicaTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListActividadludicaTitle_fkLudica}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkLudica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{actividadludicaController.prepareView}" value="#{bundle.ListActividadludicaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{actividadludicaController.prepareEdit}" value="#{bundle.ListActividadludicaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{actividadludicaController.destroy}" value="#{bundle.ListActividadludicaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{actividadludicaController.prepareCreate}" value="#{bundle.ListActividadludicaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListActividadludicaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
