<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewActividadludicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewActividadludicaLabel_pkActividadludica}"/>
                    <h:outputText value="#{actividadludicaController.selected.pkActividadludica}" title="#{bundle.ViewActividadludicaTitle_pkActividadludica}"/>
                    <h:outputText value="#{bundle.ViewActividadludicaLabel_nombre}"/>
                    <h:outputText value="#{actividadludicaController.selected.nombre}" title="#{bundle.ViewActividadludicaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewActividadludicaLabel_fkLudica}"/>
                    <h:outputText value="#{actividadludicaController.selected.fkLudica}" title="#{bundle.ViewActividadludicaTitle_fkLudica}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{actividadludicaController.destroyAndView}" value="#{bundle.ViewActividadludicaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewActividadludicaEditLink}"/>
                <br />
                <h:commandLink action="#{actividadludicaController.prepareCreate}" value="#{bundle.ViewActividadludicaCreateLink}" />
                <br />
                <h:commandLink action="#{actividadludicaController.prepareList}" value="#{bundle.ViewActividadludicaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewActividadludicaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
