<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateFichaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateFichaLabel_pkFicha}" for="pkFicha" />
                    <h:inputText id="pkFicha" value="#{fichaController.selected.pkFicha}" title="#{bundle.CreateFichaTitle_pkFicha}" required="true" requiredMessage="#{bundle.CreateFichaRequiredMessage_pkFicha}"/>
                    <h:outputLabel value="#{bundle.CreateFichaLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{fichaController.selected.codigo}" title="#{bundle.CreateFichaTitle_codigo}" required="true" requiredMessage="#{bundle.CreateFichaRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.CreateFichaLabel_fkProgramaformacion}" for="fkProgramaformacion" />
                    <h:selectOneMenu id="fkProgramaformacion" value="#{fichaController.selected.fkProgramaformacion}" title="#{bundle.CreateFichaTitle_fkProgramaformacion}" >
                        <f:selectItems value="#{programaformacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{fichaController.create}" value="#{bundle.CreateFichaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{fichaController.prepareList}" value="#{bundle.CreateFichaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateFichaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
