<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFichaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFichaEmpty}" rendered="#{fichaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{fichaController.items.rowCount > 0}">
                    <h:outputText value="#{fichaController.pagination.pageFirstItem + 1}..#{fichaController.pagination.pageLastItem + 1}/#{fichaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{fichaController.previous}" value="#{bundle.Previous} #{fichaController.pagination.pageSize}" rendered="#{fichaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{fichaController.next}" value="#{bundle.Next} #{fichaController.pagination.pageSize}" rendered="#{fichaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{fichaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFichaTitle_pkFicha}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkFicha}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFichaTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFichaTitle_fkProgramaformacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkProgramaformacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{fichaController.prepareView}" value="#{bundle.ListFichaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fichaController.prepareEdit}" value="#{bundle.ListFichaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fichaController.destroy}" value="#{bundle.ListFichaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{fichaController.prepareCreate}" value="#{bundle.ListFichaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListFichaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
