<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewFichaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewFichaLabel_pkFicha}"/>
                    <h:outputText value="#{fichaController.selected.pkFicha}" title="#{bundle.ViewFichaTitle_pkFicha}"/>
                    <h:outputText value="#{bundle.ViewFichaLabel_codigo}"/>
                    <h:outputText value="#{fichaController.selected.codigo}" title="#{bundle.ViewFichaTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewFichaLabel_fkProgramaformacion}"/>
                    <h:outputText value="#{fichaController.selected.fkProgramaformacion}" title="#{bundle.ViewFichaTitle_fkProgramaformacion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{fichaController.destroyAndView}" value="#{bundle.ViewFichaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewFichaEditLink}"/>
                <br />
                <h:commandLink action="#{fichaController.prepareCreate}" value="#{bundle.ViewFichaCreateLink}" />
                <br />
                <h:commandLink action="#{fichaController.prepareList}" value="#{bundle.ViewFichaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewFichaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
