<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEstadoludicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEstadoludicaLabel_pkEstodoludica}" for="pkEstodoludica" />
                    <h:inputText id="pkEstodoludica" value="#{estadoludicaController.selected.pkEstodoludica}" title="#{bundle.CreateEstadoludicaTitle_pkEstodoludica}" required="true" requiredMessage="#{bundle.CreateEstadoludicaRequiredMessage_pkEstodoludica}"/>
                    <h:outputLabel value="#{bundle.CreateEstadoludicaLabel_fechamodificacion}" for="fechamodificacion" />
                    <h:inputText id="fechamodificacion" value="#{estadoludicaController.selected.fechamodificacion}" title="#{bundle.CreateEstadoludicaTitle_fechamodificacion}" required="true" requiredMessage="#{bundle.CreateEstadoludicaRequiredMessage_fechamodificacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateEstadoludicaLabel_fkEstado}" for="fkEstado" />
                    <h:selectOneMenu id="fkEstado" value="#{estadoludicaController.selected.fkEstado}" title="#{bundle.CreateEstadoludicaTitle_fkEstado}" >
                        <f:selectItems value="#{estadoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateEstadoludicaLabel_fkEvento}" for="fkEvento" />
                    <h:selectOneMenu id="fkEvento" value="#{estadoludicaController.selected.fkEvento}" title="#{bundle.CreateEstadoludicaTitle_fkEvento}" >
                        <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateEstadoludicaLabel_fkLudica}" for="fkLudica" />
                    <h:selectOneMenu id="fkLudica" value="#{estadoludicaController.selected.fkLudica}" title="#{bundle.CreateEstadoludicaTitle_fkLudica}" >
                        <f:selectItems value="#{ludicaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estadoludicaController.create}" value="#{bundle.CreateEstadoludicaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{estadoludicaController.prepareList}" value="#{bundle.CreateEstadoludicaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEstadoludicaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
