<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstadoludicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstadoludicaEmpty}" rendered="#{estadoludicaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estadoludicaController.items.rowCount > 0}">
                    <h:outputText value="#{estadoludicaController.pagination.pageFirstItem + 1}..#{estadoludicaController.pagination.pageLastItem + 1}/#{estadoludicaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estadoludicaController.previous}" value="#{bundle.Previous} #{estadoludicaController.pagination.pageSize}" rendered="#{estadoludicaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estadoludicaController.next}" value="#{bundle.Next} #{estadoludicaController.pagination.pageSize}" rendered="#{estadoludicaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estadoludicaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoludicaTitle_pkEstodoludica}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkEstodoludica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoludicaTitle_fechamodificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechamodificacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoludicaTitle_fkEstado}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEstado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoludicaTitle_fkEvento}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEvento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoludicaTitle_fkLudica}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkLudica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estadoludicaController.prepareView}" value="#{bundle.ListEstadoludicaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadoludicaController.prepareEdit}" value="#{bundle.ListEstadoludicaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadoludicaController.destroy}" value="#{bundle.ListEstadoludicaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estadoludicaController.prepareCreate}" value="#{bundle.ListEstadoludicaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstadoludicaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
