<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstadoludicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstadoludicaLabel_pkEstodoludica}"/>
                    <h:outputText value="#{estadoludicaController.selected.pkEstodoludica}" title="#{bundle.ViewEstadoludicaTitle_pkEstodoludica}"/>
                    <h:outputText value="#{bundle.ViewEstadoludicaLabel_fechamodificacion}"/>
                    <h:outputText value="#{estadoludicaController.selected.fechamodificacion}" title="#{bundle.ViewEstadoludicaTitle_fechamodificacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewEstadoludicaLabel_fkEstado}"/>
                    <h:outputText value="#{estadoludicaController.selected.fkEstado}" title="#{bundle.ViewEstadoludicaTitle_fkEstado}"/>
                    <h:outputText value="#{bundle.ViewEstadoludicaLabel_fkEvento}"/>
                    <h:outputText value="#{estadoludicaController.selected.fkEvento}" title="#{bundle.ViewEstadoludicaTitle_fkEvento}"/>
                    <h:outputText value="#{bundle.ViewEstadoludicaLabel_fkLudica}"/>
                    <h:outputText value="#{estadoludicaController.selected.fkLudica}" title="#{bundle.ViewEstadoludicaTitle_fkLudica}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estadoludicaController.destroyAndView}" value="#{bundle.ViewEstadoludicaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstadoludicaEditLink}"/>
                <br />
                <h:commandLink action="#{estadoludicaController.prepareCreate}" value="#{bundle.ViewEstadoludicaCreateLink}" />
                <br />
                <h:commandLink action="#{estadoludicaController.prepareList}" value="#{bundle.ViewEstadoludicaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstadoludicaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
