<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTipoidentificacionLabel_pkTipoidentificacion}" for="pkTipoidentificacion" />
                    <h:inputText id="pkTipoidentificacion" value="#{tipoidentificacionController.selected.pkTipoidentificacion}" title="#{bundle.EditTipoidentificacionTitle_pkTipoidentificacion}" required="true" requiredMessage="#{bundle.EditTipoidentificacionRequiredMessage_pkTipoidentificacion}"/>
                    <h:outputLabel value="#{bundle.EditTipoidentificacionLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{tipoidentificacionController.selected.codigo}" title="#{bundle.EditTipoidentificacionTitle_codigo}" required="true" requiredMessage="#{bundle.EditTipoidentificacionRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.EditTipoidentificacionLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{tipoidentificacionController.selected.descripcion}" title="#{bundle.EditTipoidentificacionTitle_descripcion}" required="true" requiredMessage="#{bundle.EditTipoidentificacionRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{tipoidentificacionController.update}" value="#{bundle.EditTipoidentificacionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTipoidentificacionViewLink}"/>
                <br />
                <h:commandLink action="#{tipoidentificacionController.prepareList}" value="#{bundle.EditTipoidentificacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTipoidentificacionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
