<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTipoidentificacionEmpty}" rendered="#{tipoidentificacionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tipoidentificacionController.items.rowCount > 0}">
                    <h:outputText value="#{tipoidentificacionController.pagination.pageFirstItem + 1}..#{tipoidentificacionController.pagination.pageLastItem + 1}/#{tipoidentificacionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tipoidentificacionController.previous}" value="#{bundle.Previous} #{tipoidentificacionController.pagination.pageSize}" rendered="#{tipoidentificacionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tipoidentificacionController.next}" value="#{bundle.Next} #{tipoidentificacionController.pagination.pageSize}" rendered="#{tipoidentificacionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tipoidentificacionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoidentificacionTitle_pkTipoidentificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkTipoidentificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoidentificacionTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoidentificacionTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tipoidentificacionController.prepareView}" value="#{bundle.ListTipoidentificacionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tipoidentificacionController.prepareEdit}" value="#{bundle.ListTipoidentificacionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tipoidentificacionController.destroy}" value="#{bundle.ListTipoidentificacionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tipoidentificacionController.prepareCreate}" value="#{bundle.ListTipoidentificacionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTipoidentificacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
