<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTipoidentificacionLabel_pkTipoidentificacion}"/>
                    <h:outputText value="#{tipoidentificacionController.selected.pkTipoidentificacion}" title="#{bundle.ViewTipoidentificacionTitle_pkTipoidentificacion}"/>
                    <h:outputText value="#{bundle.ViewTipoidentificacionLabel_codigo}"/>
                    <h:outputText value="#{tipoidentificacionController.selected.codigo}" title="#{bundle.ViewTipoidentificacionTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewTipoidentificacionLabel_descripcion}"/>
                    <h:outputText value="#{tipoidentificacionController.selected.descripcion}" title="#{bundle.ViewTipoidentificacionTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipoidentificacionController.destroyAndView}" value="#{bundle.ViewTipoidentificacionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTipoidentificacionEditLink}"/>
                <br />
                <h:commandLink action="#{tipoidentificacionController.prepareCreate}" value="#{bundle.ViewTipoidentificacionCreateLink}" />
                <br />
                <h:commandLink action="#{tipoidentificacionController.prepareList}" value="#{bundle.ViewTipoidentificacionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTipoidentificacionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
