<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLugarTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLugarLabel_pkLugar}" for="pkLugar" />
                    <h:inputText id="pkLugar" value="#{lugarController.selected.pkLugar}" title="#{bundle.CreateLugarTitle_pkLugar}" required="true" requiredMessage="#{bundle.CreateLugarRequiredMessage_pkLugar}"/>
                    <h:outputLabel value="#{bundle.CreateLugarLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{lugarController.selected.codigo}" title="#{bundle.CreateLugarTitle_codigo}" required="true" requiredMessage="#{bundle.CreateLugarRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.CreateLugarLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{lugarController.selected.descripcion}" title="#{bundle.CreateLugarTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateLugarRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lugarController.create}" value="#{bundle.CreateLugarSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{lugarController.prepareList}" value="#{bundle.CreateLugarShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLugarIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
