<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditInstructorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditInstructorLabel_pkInstructor}" for="pkInstructor" />
                    <h:inputText id="pkInstructor" value="#{instructorController.selected.pkInstructor}" title="#{bundle.EditInstructorTitle_pkInstructor}" required="true" requiredMessage="#{bundle.EditInstructorRequiredMessage_pkInstructor}"/>
                    <h:outputLabel value="#{bundle.EditInstructorLabel_numeroidentificacion}" for="numeroidentificacion" />
                    <h:inputText id="numeroidentificacion" value="#{instructorController.selected.numeroidentificacion}" title="#{bundle.EditInstructorTitle_numeroidentificacion}" required="true" requiredMessage="#{bundle.EditInstructorRequiredMessage_numeroidentificacion}"/>
                    <h:outputLabel value="#{bundle.EditInstructorLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{instructorController.selected.nombre}" title="#{bundle.EditInstructorTitle_nombre}" required="true" requiredMessage="#{bundle.EditInstructorRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditInstructorLabel_fkPersona}" for="fkPersona" />
                    <h:selectOneMenu id="fkPersona" value="#{instructorController.selected.fkPersona}" title="#{bundle.EditInstructorTitle_fkPersona}" >
                        <f:selectItems value="#{personaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{instructorController.update}" value="#{bundle.EditInstructorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditInstructorViewLink}"/>
                <br />
                <h:commandLink action="#{instructorController.prepareList}" value="#{bundle.EditInstructorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditInstructorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
