<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListInstructorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListInstructorEmpty}" rendered="#{instructorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{instructorController.items.rowCount > 0}">
                    <h:outputText value="#{instructorController.pagination.pageFirstItem + 1}..#{instructorController.pagination.pageLastItem + 1}/#{instructorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{instructorController.previous}" value="#{bundle.Previous} #{instructorController.pagination.pageSize}" rendered="#{instructorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{instructorController.next}" value="#{bundle.Next} #{instructorController.pagination.pageSize}" rendered="#{instructorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{instructorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInstructorTitle_pkInstructor}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkInstructor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInstructorTitle_numeroidentificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.numeroidentificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInstructorTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInstructorTitle_fkPersona}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkPersona}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{instructorController.prepareView}" value="#{bundle.ListInstructorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{instructorController.prepareEdit}" value="#{bundle.ListInstructorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{instructorController.destroy}" value="#{bundle.ListInstructorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{instructorController.prepareCreate}" value="#{bundle.ListInstructorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListInstructorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
