<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewInstructorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewInstructorLabel_pkInstructor}"/>
                    <h:outputText value="#{instructorController.selected.pkInstructor}" title="#{bundle.ViewInstructorTitle_pkInstructor}"/>
                    <h:outputText value="#{bundle.ViewInstructorLabel_numeroidentificacion}"/>
                    <h:outputText value="#{instructorController.selected.numeroidentificacion}" title="#{bundle.ViewInstructorTitle_numeroidentificacion}"/>
                    <h:outputText value="#{bundle.ViewInstructorLabel_nombre}"/>
                    <h:outputText value="#{instructorController.selected.nombre}" title="#{bundle.ViewInstructorTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewInstructorLabel_fkPersona}"/>
                    <h:outputText value="#{instructorController.selected.fkPersona}" title="#{bundle.ViewInstructorTitle_fkPersona}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{instructorController.destroyAndView}" value="#{bundle.ViewInstructorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewInstructorEditLink}"/>
                <br />
                <h:commandLink action="#{instructorController.prepareCreate}" value="#{bundle.ViewInstructorCreateLink}" />
                <br />
                <h:commandLink action="#{instructorController.prepareList}" value="#{bundle.ViewInstructorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewInstructorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
