<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateHorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateHorarioLabel_pkHorario}" for="pkHorario" />
                    <h:inputText id="pkHorario" value="#{horarioController.selected.pkHorario}" title="#{bundle.CreateHorarioTitle_pkHorario}" required="true" requiredMessage="#{bundle.CreateHorarioRequiredMessage_pkHorario}"/>
                    <h:outputLabel value="#{bundle.CreateHorarioLabel_horainicio}" for="horainicio" />
                    <h:inputText id="horainicio" value="#{horarioController.selected.horainicio}" title="#{bundle.CreateHorarioTitle_horainicio}" required="true" requiredMessage="#{bundle.CreateHorarioRequiredMessage_horainicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateHorarioLabel_horafin}" for="horafin" />
                    <h:inputText id="horafin" value="#{horarioController.selected.horafin}" title="#{bundle.CreateHorarioTitle_horafin}" required="true" requiredMessage="#{bundle.CreateHorarioRequiredMessage_horafin}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateHorarioLabel_dia}" for="dia" />
                    <h:inputText id="dia" value="#{horarioController.selected.dia}" title="#{bundle.CreateHorarioTitle_dia}" required="true" requiredMessage="#{bundle.CreateHorarioRequiredMessage_dia}"/>
                    <h:outputLabel value="#{bundle.CreateHorarioLabel_fkLugar}" for="fkLugar" />
                    <h:selectOneMenu id="fkLugar" value="#{horarioController.selected.fkLugar}" title="#{bundle.CreateHorarioTitle_fkLugar}" required="true" requiredMessage="#{bundle.CreateHorarioRequiredMessage_fkLugar}">
                        <f:selectItems value="#{lugarController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{horarioController.create}" value="#{bundle.CreateHorarioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{horarioController.prepareList}" value="#{bundle.CreateHorarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateHorarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
