<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListHorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListHorarioEmpty}" rendered="#{horarioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{horarioController.items.rowCount > 0}">
                    <h:outputText value="#{horarioController.pagination.pageFirstItem + 1}..#{horarioController.pagination.pageLastItem + 1}/#{horarioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{horarioController.previous}" value="#{bundle.Previous} #{horarioController.pagination.pageSize}" rendered="#{horarioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{horarioController.next}" value="#{bundle.Next} #{horarioController.pagination.pageSize}" rendered="#{horarioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{horarioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHorarioTitle_pkHorario}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkHorario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHorarioTitle_horainicio}"/>
                            </f:facet>
                            <h:outputText value="#{item.horainicio}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHorarioTitle_horafin}"/>
                            </f:facet>
                            <h:outputText value="#{item.horafin}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHorarioTitle_dia}"/>
                            </f:facet>
                            <h:outputText value="#{item.dia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHorarioTitle_fkLugar}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkLugar}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{horarioController.prepareView}" value="#{bundle.ListHorarioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{horarioController.prepareEdit}" value="#{bundle.ListHorarioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{horarioController.destroy}" value="#{bundle.ListHorarioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{horarioController.prepareCreate}" value="#{bundle.ListHorarioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListHorarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
