<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewHorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewHorarioLabel_pkHorario}"/>
                    <h:outputText value="#{horarioController.selected.pkHorario}" title="#{bundle.ViewHorarioTitle_pkHorario}"/>
                    <h:outputText value="#{bundle.ViewHorarioLabel_horainicio}"/>
                    <h:outputText value="#{horarioController.selected.horainicio}" title="#{bundle.ViewHorarioTitle_horainicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewHorarioLabel_horafin}"/>
                    <h:outputText value="#{horarioController.selected.horafin}" title="#{bundle.ViewHorarioTitle_horafin}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewHorarioLabel_dia}"/>
                    <h:outputText value="#{horarioController.selected.dia}" title="#{bundle.ViewHorarioTitle_dia}"/>
                    <h:outputText value="#{bundle.ViewHorarioLabel_fkLugar}"/>
                    <h:outputText value="#{horarioController.selected.fkLugar}" title="#{bundle.ViewHorarioTitle_fkLugar}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{horarioController.destroyAndView}" value="#{bundle.ViewHorarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewHorarioEditLink}"/>
                <br />
                <h:commandLink action="#{horarioController.prepareCreate}" value="#{bundle.ViewHorarioCreateLink}" />
                <br />
                <h:commandLink action="#{horarioController.prepareList}" value="#{bundle.ViewHorarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewHorarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
