<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditActividadludhorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditActividadludhorarioLabel_pkActividadludhorario}" for="pkActividadludhorario" />
                    <h:inputText id="pkActividadludhorario" value="#{actividadludhorarioController.selected.pkActividadludhorario}" title="#{bundle.EditActividadludhorarioTitle_pkActividadludhorario}" required="true" requiredMessage="#{bundle.EditActividadludhorarioRequiredMessage_pkActividadludhorario}"/>
                    <h:outputLabel value="#{bundle.EditActividadludhorarioLabel_fkActividadludica}" for="fkActividadludica" />
                    <h:selectOneMenu id="fkActividadludica" value="#{actividadludhorarioController.selected.fkActividadludica}" title="#{bundle.EditActividadludhorarioTitle_fkActividadludica}" required="true" requiredMessage="#{bundle.EditActividadludhorarioRequiredMessage_fkActividadludica}">
                        <f:selectItems value="#{actividadludicaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditActividadludhorarioLabel_fkHorario}" for="fkHorario" />
                    <h:selectOneMenu id="fkHorario" value="#{actividadludhorarioController.selected.fkHorario}" title="#{bundle.EditActividadludhorarioTitle_fkHorario}" required="true" requiredMessage="#{bundle.EditActividadludhorarioRequiredMessage_fkHorario}">
                        <f:selectItems value="#{horarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{actividadludhorarioController.update}" value="#{bundle.EditActividadludhorarioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditActividadludhorarioViewLink}"/>
                <br />
                <h:commandLink action="#{actividadludhorarioController.prepareList}" value="#{bundle.EditActividadludhorarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditActividadludhorarioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
