<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListActividadludhorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListActividadludhorarioEmpty}" rendered="#{actividadludhorarioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{actividadludhorarioController.items.rowCount > 0}">
                    <h:outputText value="#{actividadludhorarioController.pagination.pageFirstItem + 1}..#{actividadludhorarioController.pagination.pageLastItem + 1}/#{actividadludhorarioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{actividadludhorarioController.previous}" value="#{bundle.Previous} #{actividadludhorarioController.pagination.pageSize}" rendered="#{actividadludhorarioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{actividadludhorarioController.next}" value="#{bundle.Next} #{actividadludhorarioController.pagination.pageSize}" rendered="#{actividadludhorarioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{actividadludhorarioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListActividadludhorarioTitle_pkActividadludhorario}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkActividadludhorario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListActividadludhorarioTitle_fkActividadludica}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkActividadludica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListActividadludhorarioTitle_fkHorario}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkHorario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{actividadludhorarioController.prepareView}" value="#{bundle.ListActividadludhorarioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{actividadludhorarioController.prepareEdit}" value="#{bundle.ListActividadludhorarioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{actividadludhorarioController.destroy}" value="#{bundle.ListActividadludhorarioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{actividadludhorarioController.prepareCreate}" value="#{bundle.ListActividadludhorarioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListActividadludhorarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
