<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewActividadludhorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewActividadludhorarioLabel_pkActividadludhorario}"/>
                    <h:outputText value="#{actividadludhorarioController.selected.pkActividadludhorario}" title="#{bundle.ViewActividadludhorarioTitle_pkActividadludhorario}"/>
                    <h:outputText value="#{bundle.ViewActividadludhorarioLabel_fkActividadludica}"/>
                    <h:outputText value="#{actividadludhorarioController.selected.fkActividadludica}" title="#{bundle.ViewActividadludhorarioTitle_fkActividadludica}"/>
                    <h:outputText value="#{bundle.ViewActividadludhorarioLabel_fkHorario}"/>
                    <h:outputText value="#{actividadludhorarioController.selected.fkHorario}" title="#{bundle.ViewActividadludhorarioTitle_fkHorario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{actividadludhorarioController.destroyAndView}" value="#{bundle.ViewActividadludhorarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewActividadludhorarioEditLink}"/>
                <br />
                <h:commandLink action="#{actividadludhorarioController.prepareCreate}" value="#{bundle.ViewActividadludhorarioCreateLink}" />
                <br />
                <h:commandLink action="#{actividadludhorarioController.prepareList}" value="#{bundle.ViewActividadludhorarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewActividadludhorarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
