<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAsistenciaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAsistenciaLabel_pkAsistencia}" for="pkAsistencia" />
                    <h:inputText id="pkAsistencia" value="#{asistenciaController.selected.pkAsistencia}" title="#{bundle.CreateAsistenciaTitle_pkAsistencia}" required="true" requiredMessage="#{bundle.CreateAsistenciaRequiredMessage_pkAsistencia}"/>
                    <h:outputLabel value="#{bundle.CreateAsistenciaLabel_cantidadhoras}" for="cantidadhoras" />
                    <h:inputText id="cantidadhoras" value="#{asistenciaController.selected.cantidadhoras}" title="#{bundle.CreateAsistenciaTitle_cantidadhoras}" required="true" requiredMessage="#{bundle.CreateAsistenciaRequiredMessage_cantidadhoras}"/>
                    <h:outputLabel value="#{bundle.CreateAsistenciaLabel_fechainicio}" for="fechainicio" />
                    <h:inputText id="fechainicio" value="#{asistenciaController.selected.fechainicio}" title="#{bundle.CreateAsistenciaTitle_fechainicio}" required="true" requiredMessage="#{bundle.CreateAsistenciaRequiredMessage_fechainicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAsistenciaLabel_horasasistidas}" for="horasasistidas" />
                    <h:inputText id="horasasistidas" value="#{asistenciaController.selected.horasasistidas}" title="#{bundle.CreateAsistenciaTitle_horasasistidas}" required="true" requiredMessage="#{bundle.CreateAsistenciaRequiredMessage_horasasistidas}"/>
                    <h:outputLabel value="#{bundle.CreateAsistenciaLabel_fkActividadludica}" for="fkActividadludica" />
                    <h:selectOneMenu id="fkActividadludica" value="#{asistenciaController.selected.fkActividadludica}" title="#{bundle.CreateAsistenciaTitle_fkActividadludica}" >
                        <f:selectItems value="#{actividadludicaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateAsistenciaLabel_fkAprendiz}" for="fkAprendiz" />
                    <h:selectOneMenu id="fkAprendiz" value="#{asistenciaController.selected.fkAprendiz}" title="#{bundle.CreateAsistenciaTitle_fkAprendiz}" required="true" requiredMessage="#{bundle.CreateAsistenciaRequiredMessage_fkAprendiz}">
                        <f:selectItems value="#{aprendizController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateAsistenciaLabel_fkEvento}" for="fkEvento" />
                    <h:selectOneMenu id="fkEvento" value="#{asistenciaController.selected.fkEvento}" title="#{bundle.CreateAsistenciaTitle_fkEvento}" >
                        <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{asistenciaController.create}" value="#{bundle.CreateAsistenciaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{asistenciaController.prepareList}" value="#{bundle.CreateAsistenciaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAsistenciaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
