<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAsistenciaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAsistenciaLabel_pkAsistencia}"/>
                    <h:outputText value="#{asistenciaController.selected.pkAsistencia}" title="#{bundle.ViewAsistenciaTitle_pkAsistencia}"/>
                    <h:outputText value="#{bundle.ViewAsistenciaLabel_cantidadhoras}"/>
                    <h:outputText value="#{asistenciaController.selected.cantidadhoras}" title="#{bundle.ViewAsistenciaTitle_cantidadhoras}"/>
                    <h:outputText value="#{bundle.ViewAsistenciaLabel_fechainicio}"/>
                    <h:outputText value="#{asistenciaController.selected.fechainicio}" title="#{bundle.ViewAsistenciaTitle_fechainicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAsistenciaLabel_horasasistidas}"/>
                    <h:outputText value="#{asistenciaController.selected.horasasistidas}" title="#{bundle.ViewAsistenciaTitle_horasasistidas}"/>
                    <h:outputText value="#{bundle.ViewAsistenciaLabel_fkActividadludica}"/>
                    <h:outputText value="#{asistenciaController.selected.fkActividadludica}" title="#{bundle.ViewAsistenciaTitle_fkActividadludica}"/>
                    <h:outputText value="#{bundle.ViewAsistenciaLabel_fkAprendiz}"/>
                    <h:outputText value="#{asistenciaController.selected.fkAprendiz}" title="#{bundle.ViewAsistenciaTitle_fkAprendiz}"/>
                    <h:outputText value="#{bundle.ViewAsistenciaLabel_fkEvento}"/>
                    <h:outputText value="#{asistenciaController.selected.fkEvento}" title="#{bundle.ViewAsistenciaTitle_fkEvento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{asistenciaController.destroyAndView}" value="#{bundle.ViewAsistenciaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAsistenciaEditLink}"/>
                <br />
                <h:commandLink action="#{asistenciaController.prepareCreate}" value="#{bundle.ViewAsistenciaCreateLink}" />
                <br />
                <h:commandLink action="#{asistenciaController.prepareList}" value="#{bundle.ViewAsistenciaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAsistenciaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
