<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAprendizTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAprendizLabel_pkAprendiz}" for="pkAprendiz" />
                    <h:inputText id="pkAprendiz" value="#{aprendizController.selected.pkAprendiz}" title="#{bundle.CreateAprendizTitle_pkAprendiz}" required="true" requiredMessage="#{bundle.CreateAprendizRequiredMessage_pkAprendiz}"/>
                    <h:outputLabel value="#{bundle.CreateAprendizLabel_numeroidentificacion}" for="numeroidentificacion" />
                    <h:inputText id="numeroidentificacion" value="#{aprendizController.selected.numeroidentificacion}" title="#{bundle.CreateAprendizTitle_numeroidentificacion}" required="true" requiredMessage="#{bundle.CreateAprendizRequiredMessage_numeroidentificacion}"/>
                    <h:outputLabel value="#{bundle.CreateAprendizLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{aprendizController.selected.nombre}" title="#{bundle.CreateAprendizTitle_nombre}" required="true" requiredMessage="#{bundle.CreateAprendizRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateAprendizLabel_email}" for="email" />
                    <h:inputText id="email" value="#{aprendizController.selected.email}" title="#{bundle.CreateAprendizTitle_email}" required="true" requiredMessage="#{bundle.CreateAprendizRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateAprendizLabel_fkPersona}" for="fkPersona" />
                    <h:selectOneMenu id="fkPersona" value="#{aprendizController.selected.fkPersona}" title="#{bundle.CreateAprendizTitle_fkPersona}" >
                        <f:selectItems value="#{personaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{aprendizController.create}" value="#{bundle.CreateAprendizSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{aprendizController.prepareList}" value="#{bundle.CreateAprendizShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAprendizIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
