<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAprendizTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAprendizLabel_pkAprendiz}" for="pkAprendiz" />
                    <h:inputText id="pkAprendiz" value="#{aprendizController.selected.pkAprendiz}" title="#{bundle.EditAprendizTitle_pkAprendiz}" required="true" requiredMessage="#{bundle.EditAprendizRequiredMessage_pkAprendiz}"/>
                    <h:outputLabel value="#{bundle.EditAprendizLabel_numeroidentificacion}" for="numeroidentificacion" />
                    <h:inputText id="numeroidentificacion" value="#{aprendizController.selected.numeroidentificacion}" title="#{bundle.EditAprendizTitle_numeroidentificacion}" required="true" requiredMessage="#{bundle.EditAprendizRequiredMessage_numeroidentificacion}"/>
                    <h:outputLabel value="#{bundle.EditAprendizLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{aprendizController.selected.nombre}" title="#{bundle.EditAprendizTitle_nombre}" required="true" requiredMessage="#{bundle.EditAprendizRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditAprendizLabel_email}" for="email" />
                    <h:inputText id="email" value="#{aprendizController.selected.email}" title="#{bundle.EditAprendizTitle_email}" required="true" requiredMessage="#{bundle.EditAprendizRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditAprendizLabel_fkPersona}" for="fkPersona" />
                    <h:selectOneMenu id="fkPersona" value="#{aprendizController.selected.fkPersona}" title="#{bundle.EditAprendizTitle_fkPersona}" >
                        <f:selectItems value="#{personaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{aprendizController.update}" value="#{bundle.EditAprendizSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAprendizViewLink}"/>
                <br />
                <h:commandLink action="#{aprendizController.prepareList}" value="#{bundle.EditAprendizShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAprendizIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
