<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAprendizTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAprendizEmpty}" rendered="#{aprendizController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{aprendizController.items.rowCount > 0}">
                    <h:outputText value="#{aprendizController.pagination.pageFirstItem + 1}..#{aprendizController.pagination.pageLastItem + 1}/#{aprendizController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{aprendizController.previous}" value="#{bundle.Previous} #{aprendizController.pagination.pageSize}" rendered="#{aprendizController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{aprendizController.next}" value="#{bundle.Next} #{aprendizController.pagination.pageSize}" rendered="#{aprendizController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{aprendizController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizTitle_pkAprendiz}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAprendiz}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizTitle_numeroidentificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.numeroidentificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAprendizTitle_fkPersona}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkPersona}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{aprendizController.prepareView}" value="#{bundle.ListAprendizViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{aprendizController.prepareEdit}" value="#{bundle.ListAprendizEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{aprendizController.destroy}" value="#{bundle.ListAprendizDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{aprendizController.prepareCreate}" value="#{bundle.ListAprendizCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAprendizIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
