<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAprendizTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAprendizLabel_pkAprendiz}"/>
                    <h:outputText value="#{aprendizController.selected.pkAprendiz}" title="#{bundle.ViewAprendizTitle_pkAprendiz}"/>
                    <h:outputText value="#{bundle.ViewAprendizLabel_numeroidentificacion}"/>
                    <h:outputText value="#{aprendizController.selected.numeroidentificacion}" title="#{bundle.ViewAprendizTitle_numeroidentificacion}"/>
                    <h:outputText value="#{bundle.ViewAprendizLabel_nombre}"/>
                    <h:outputText value="#{aprendizController.selected.nombre}" title="#{bundle.ViewAprendizTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewAprendizLabel_email}"/>
                    <h:outputText value="#{aprendizController.selected.email}" title="#{bundle.ViewAprendizTitle_email}"/>
                    <h:outputText value="#{bundle.ViewAprendizLabel_fkPersona}"/>
                    <h:outputText value="#{aprendizController.selected.fkPersona}" title="#{bundle.ViewAprendizTitle_fkPersona}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{aprendizController.destroyAndView}" value="#{bundle.ViewAprendizDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAprendizEditLink}"/>
                <br />
                <h:commandLink action="#{aprendizController.prepareCreate}" value="#{bundle.ViewAprendizCreateLink}" />
                <br />
                <h:commandLink action="#{aprendizController.prepareList}" value="#{bundle.ViewAprendizShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAprendizIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
