<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEstadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_pkEstado}" for="pkEstado" />
                    <h:inputText id="pkEstado" value="#{estadoController.selected.pkEstado}" title="#{bundle.CreateEstadoTitle_pkEstado}" required="true" requiredMessage="#{bundle.CreateEstadoRequiredMessage_pkEstado}"/>
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{estadoController.selected.codigo}" title="#{bundle.CreateEstadoTitle_codigo}" required="true" requiredMessage="#{bundle.CreateEstadoRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{estadoController.selected.descripcion}" title="#{bundle.CreateEstadoTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateEstadoRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_suspendido}" for="suspendido" />
                    <h:inputText id="suspendido" value="#{estadoController.selected.suspendido}" title="#{bundle.CreateEstadoTitle_suspendido}" required="true" requiredMessage="#{bundle.CreateEstadoRequiredMessage_suspendido}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estadoController.create}" value="#{bundle.CreateEstadoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{estadoController.prepareList}" value="#{bundle.CreateEstadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEstadoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
