<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEstadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEstadoLabel_pkEstado}" for="pkEstado" />
                    <h:inputText id="pkEstado" value="#{estadoController.selected.pkEstado}" title="#{bundle.EditEstadoTitle_pkEstado}" required="true" requiredMessage="#{bundle.EditEstadoRequiredMessage_pkEstado}"/>
                    <h:outputLabel value="#{bundle.EditEstadoLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{estadoController.selected.codigo}" title="#{bundle.EditEstadoTitle_codigo}" required="true" requiredMessage="#{bundle.EditEstadoRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.EditEstadoLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{estadoController.selected.descripcion}" title="#{bundle.EditEstadoTitle_descripcion}" required="true" requiredMessage="#{bundle.EditEstadoRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.EditEstadoLabel_suspendido}" for="suspendido" />
                    <h:inputText id="suspendido" value="#{estadoController.selected.suspendido}" title="#{bundle.EditEstadoTitle_suspendido}" required="true" requiredMessage="#{bundle.EditEstadoRequiredMessage_suspendido}"/>
                </h:panelGrid>
                <h:commandLink action="#{estadoController.update}" value="#{bundle.EditEstadoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEstadoViewLink}"/>
                <br />
                <h:commandLink action="#{estadoController.prepareList}" value="#{bundle.EditEstadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEstadoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
