<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstadoEmpty}" rendered="#{estadoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estadoController.items.rowCount > 0}">
                    <h:outputText value="#{estadoController.pagination.pageFirstItem + 1}..#{estadoController.pagination.pageLastItem + 1}/#{estadoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estadoController.previous}" value="#{bundle.Previous} #{estadoController.pagination.pageSize}" rendered="#{estadoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estadoController.next}" value="#{bundle.Next} #{estadoController.pagination.pageSize}" rendered="#{estadoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estadoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoTitle_pkEstado}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkEstado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadoTitle_suspendido}"/>
                            </f:facet>
                            <h:outputText value="#{item.suspendido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estadoController.prepareView}" value="#{bundle.ListEstadoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadoController.prepareEdit}" value="#{bundle.ListEstadoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadoController.destroy}" value="#{bundle.ListEstadoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estadoController.prepareCreate}" value="#{bundle.ListEstadoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstadoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
