<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstadoLabel_pkEstado}"/>
                    <h:outputText value="#{estadoController.selected.pkEstado}" title="#{bundle.ViewEstadoTitle_pkEstado}"/>
                    <h:outputText value="#{bundle.ViewEstadoLabel_codigo}"/>
                    <h:outputText value="#{estadoController.selected.codigo}" title="#{bundle.ViewEstadoTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewEstadoLabel_descripcion}"/>
                    <h:outputText value="#{estadoController.selected.descripcion}" title="#{bundle.ViewEstadoTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewEstadoLabel_suspendido}"/>
                    <h:outputText value="#{estadoController.selected.suspendido}" title="#{bundle.ViewEstadoTitle_suspendido}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estadoController.destroyAndView}" value="#{bundle.ViewEstadoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstadoEditLink}"/>
                <br />
                <h:commandLink action="#{estadoController.prepareCreate}" value="#{bundle.ViewEstadoCreateLink}" />
                <br />
                <h:commandLink action="#{estadoController.prepareList}" value="#{bundle.ViewEstadoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstadoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
