<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/catalogos/accionpermitida/List" value="Show All Accionpermitida Items"/>
        <br />
        <h:link outcome="/catalogos/accionpermitidaplantilla/List" value="Show All Accionpermitidaplantilla Items"/>
        <br />
        <h:link outcome="/catalogos/accionpermitidaporusuario/List" value="Show All Accionpermitidaporusuario Items"/>
        <br />
        <h:link outcome="/catalogos/actividadludhorario/List" value="Show All Actividadludhorario Items"/>
        <br />
        <h:link outcome="/catalogos/actividadludica/List" value="Show All Actividadludica Items"/>
        <br />
        <h:link outcome="/catalogos/alinstructor/List" value="Show All Alinstructor Items"/>
        <br />
        <h:link outcome="/catalogos/aprendiz/List" value="Show All Aprendiz Items"/>
        <br />
        <h:link outcome="/catalogos/aprendizficha/List" value="Show All Aprendizficha Items"/>
        <br />
        <h:link outcome="/catalogos/asistencia/List" value="Show All Asistencia Items"/>
        <br />
        <h:link outcome="/catalogos/departamento/List" value="Show All Departamento Items"/>
        <br />
        <h:link outcome="/catalogos/estado/List" value="Show All Estado Items"/>
        <br />
        <h:link outcome="/catalogos/estadoludica/List" value="Show All Estadoludica Items"/>
        <br />
        <h:link outcome="/catalogos/estadousuario/List" value="Show All Estadousuario Items"/>
        <br />
        <h:link outcome="/catalogos/evento/List" value="Show All Evento Items"/>
        <br />
        <h:link outcome="/catalogos/ficha/List" value="Show All Ficha Items"/>
        <br />
        <h:link outcome="/catalogos/horario/List" value="Show All Horario Items"/>
        <br />
        <h:link outcome="/catalogos/instructor/List" value="Show All Instructor Items"/>
        <br />
        <h:link outcome="/catalogos/ludica/List" value="Show All Ludica Items"/>
        <br />
        <h:link outcome="/catalogos/lugar/List" value="Show All Lugar Items"/>
        <br />
        <h:link outcome="/catalogos/municipio/List" value="Show All Municipio Items"/>
        <br />
        <h:link outcome="/catalogos/pais/List" value="Show All Pais Items"/>
        <br />
        <h:link outcome="/catalogos/persona/List" value="Show All Persona Items"/>
        <br />
        <h:link outcome="/catalogos/plantillaaccionpermitida/List" value="Show All Plantillaaccionpermitida Items"/>
        <br />
        <h:link outcome="/catalogos/programaformacion/List" value="Show All Programaformacion Items"/>
        <br />
        <h:link outcome="/catalogos/tipoevento/List" value="Show All Tipoevento Items"/>
        <br />
        <h:link outcome="/catalogos/tipoidentificacion/List" value="Show All Tipoidentificacion Items"/>
        <br />
        <h:link outcome="/catalogos/usuario/List" value="Show All Usuario Items"/>
        <br />
        <h:link outcome="/catalogos/accionpermitida/List" value="Show All Accionpermitida Items"/>
        <br />
        <h:link outcome="/catalogos/accionpermitidaplantilla/List" value="Show All Accionpermitidaplantilla Items"/>
        <br />
        <h:link outcome="/catalogos/accionpermitidaporusuario/List" value="Show All Accionpermitidaporusuario Items"/>
        <br />
        <h:link outcome="/catalogos/actividadludhorario/List" value="Show All Actividadludhorario Items"/>
        <br />
        <h:link outcome="/catalogos/actividadludica/List" value="Show All Actividadludica Items"/>
        <br />
        <h:link outcome="/catalogos/alinstructor/List" value="Show All Alinstructor Items"/>
        <br />
        <h:link outcome="/catalogos/aprendiz/List" value="Show All Aprendiz Items"/>
        <br />
        <h:link outcome="/catalogos/aprendizficha/List" value="Show All Aprendizficha Items"/>
        <br />
        <h:link outcome="/catalogos/asistencia/List" value="Show All Asistencia Items"/>
        <br />
        <h:link outcome="/catalogos/departamento/List" value="Show All Departamento Items"/>
        <br />
        <h:link outcome="/catalogos/estado/List" value="Show All Estado Items"/>
        <br />
        <h:link outcome="/catalogos/estadoludica/List" value="Show All Estadoludica Items"/>
        <br />
        <h:link outcome="/catalogos/estadousuario/List" value="Show All Estadousuario Items"/>
        <br />
        <h:link outcome="/catalogos/evento/List" value="Show All Evento Items"/>
        <br />
        <h:link outcome="/catalogos/ficha/List" value="Show All Ficha Items"/>
        <br />
        <h:link outcome="/catalogos/horario/List" value="Show All Horario Items"/>
        <br />
        <h:link outcome="/catalogos/instructor/List" value="Show All Instructor Items"/>
        <br />
        <h:link outcome="/catalogos/ludica/List" value="Show All Ludica Items"/>
        <br />
        <h:link outcome="/catalogos/lugar/List" value="Show All Lugar Items"/>
        <br />
        <h:link outcome="/catalogos/municipio/List" value="Show All Municipio Items"/>
        <br />
        <h:link outcome="/catalogos/pais/List" value="Show All Pais Items"/>
        <br />
        <h:link outcome="/catalogos/persona/List" value="Show All Persona Items"/>
        <br />
        <h:link outcome="/catalogos/plantillaaccionpermitida/List" value="Show All Plantillaaccionpermitida Items"/>
        <br />
        <h:link outcome="/catalogos/programaformacion/List" value="Show All Programaformacion Items"/>
        <br />
        <h:link outcome="/catalogos/tipoevento/List" value="Show All Tipoevento Items"/>
        <br />
        <h:link outcome="/catalogos/tipoidentificacion/List" value="Show All Tipoidentificacion Items"/>
        <br />
        <h:link outcome="/catalogos/usuario/List" value="Show All Usuario Items"/>
    </h:body>






















































</html>

