<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAlinstructorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAlinstructorLabel_pkAlinstructor}" for="pkAlinstructor" />
                    <h:inputText id="pkAlinstructor" value="#{alinstructorController.selected.pkAlinstructor}" title="#{bundle.CreateAlinstructorTitle_pkAlinstructor}" required="true" requiredMessage="#{bundle.CreateAlinstructorRequiredMessage_pkAlinstructor}"/>
                    <h:outputLabel value="#{bundle.CreateAlinstructorLabel_fkActividadludica}" for="fkActividadludica" />
                    <h:selectOneMenu id="fkActividadludica" value="#{alinstructorController.selected.fkActividadludica}" title="#{bundle.CreateAlinstructorTitle_fkActividadludica}" required="true" requiredMessage="#{bundle.CreateAlinstructorRequiredMessage_fkActividadludica}">
                        <f:selectItems value="#{actividadludicaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateAlinstructorLabel_fkInstructor}" for="fkInstructor" />
                    <h:selectOneMenu id="fkInstructor" value="#{alinstructorController.selected.fkInstructor}" title="#{bundle.CreateAlinstructorTitle_fkInstructor}" required="true" requiredMessage="#{bundle.CreateAlinstructorRequiredMessage_fkInstructor}">
                        <f:selectItems value="#{instructorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{alinstructorController.create}" value="#{bundle.CreateAlinstructorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{alinstructorController.prepareList}" value="#{bundle.CreateAlinstructorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAlinstructorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
