<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAlinstructorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAlinstructorEmpty}" rendered="#{alinstructorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{alinstructorController.items.rowCount > 0}">
                    <h:outputText value="#{alinstructorController.pagination.pageFirstItem + 1}..#{alinstructorController.pagination.pageLastItem + 1}/#{alinstructorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{alinstructorController.previous}" value="#{bundle.Previous} #{alinstructorController.pagination.pageSize}" rendered="#{alinstructorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{alinstructorController.next}" value="#{bundle.Next} #{alinstructorController.pagination.pageSize}" rendered="#{alinstructorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{alinstructorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlinstructorTitle_pkAlinstructor}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAlinstructor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlinstructorTitle_fkActividadludica}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkActividadludica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlinstructorTitle_fkInstructor}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkInstructor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{alinstructorController.prepareView}" value="#{bundle.ListAlinstructorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{alinstructorController.prepareEdit}" value="#{bundle.ListAlinstructorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{alinstructorController.destroy}" value="#{bundle.ListAlinstructorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{alinstructorController.prepareCreate}" value="#{bundle.ListAlinstructorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAlinstructorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
