<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAlinstructorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAlinstructorLabel_pkAlinstructor}"/>
                    <h:outputText value="#{alinstructorController.selected.pkAlinstructor}" title="#{bundle.ViewAlinstructorTitle_pkAlinstructor}"/>
                    <h:outputText value="#{bundle.ViewAlinstructorLabel_fkActividadludica}"/>
                    <h:outputText value="#{alinstructorController.selected.fkActividadludica}" title="#{bundle.ViewAlinstructorTitle_fkActividadludica}"/>
                    <h:outputText value="#{bundle.ViewAlinstructorLabel_fkInstructor}"/>
                    <h:outputText value="#{alinstructorController.selected.fkInstructor}" title="#{bundle.ViewAlinstructorTitle_fkInstructor}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{alinstructorController.destroyAndView}" value="#{bundle.ViewAlinstructorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAlinstructorEditLink}"/>
                <br />
                <h:commandLink action="#{alinstructorController.prepareCreate}" value="#{bundle.ViewAlinstructorCreateLink}" />
                <br />
                <h:commandLink action="#{alinstructorController.prepareList}" value="#{bundle.ViewAlinstructorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAlinstructorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
