<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePersonaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_pkPersona}" for="pkPersona" />
                    <h:inputText id="pkPersona" value="#{personaController.selected.pkPersona}" title="#{bundle.CreatePersonaTitle_pkPersona}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_pkPersona}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_identificacion}" for="identificacion" />
                    <h:inputText id="identificacion" value="#{personaController.selected.identificacion}" title="#{bundle.CreatePersonaTitle_identificacion}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_identificacion}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_nombres}" for="nombres" />
                    <h:inputText id="nombres" value="#{personaController.selected.nombres}" title="#{bundle.CreatePersonaTitle_nombres}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_nombres}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{personaController.selected.apellidos}" title="#{bundle.CreatePersonaTitle_apellidos}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_apellidos}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{personaController.selected.direccion}" title="#{bundle.CreatePersonaTitle_direccion}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_correo}" for="correo" />
                    <h:inputText id="correo" value="#{personaController.selected.correo}" title="#{bundle.CreatePersonaTitle_correo}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_correo}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_fkMunicipioorigen}" for="fkMunicipioorigen" />
                    <h:selectOneMenu id="fkMunicipioorigen" value="#{personaController.selected.fkMunicipioorigen}" title="#{bundle.CreatePersonaTitle_fkMunicipioorigen}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_fkMunicipioorigen}">
                        <f:selectItems value="#{municipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_fkTipoidentificacion}" for="fkTipoidentificacion" />
                    <h:selectOneMenu id="fkTipoidentificacion" value="#{personaController.selected.fkTipoidentificacion}" title="#{bundle.CreatePersonaTitle_fkTipoidentificacion}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_fkTipoidentificacion}">
                        <f:selectItems value="#{tipoidentificacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personaController.create}" value="#{bundle.CreatePersonaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{personaController.prepareList}" value="#{bundle.CreatePersonaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePersonaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
