<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPersonaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPersonaLabel_pkPersona}"/>
                    <h:outputText value="#{personaController.selected.pkPersona}" title="#{bundle.ViewPersonaTitle_pkPersona}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_identificacion}"/>
                    <h:outputText value="#{personaController.selected.identificacion}" title="#{bundle.ViewPersonaTitle_identificacion}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_nombres}"/>
                    <h:outputText value="#{personaController.selected.nombres}" title="#{bundle.ViewPersonaTitle_nombres}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_apellidos}"/>
                    <h:outputText value="#{personaController.selected.apellidos}" title="#{bundle.ViewPersonaTitle_apellidos}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_direccion}"/>
                    <h:outputText value="#{personaController.selected.direccion}" title="#{bundle.ViewPersonaTitle_direccion}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_correo}"/>
                    <h:outputText value="#{personaController.selected.correo}" title="#{bundle.ViewPersonaTitle_correo}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_fkMunicipioorigen}"/>
                    <h:outputText value="#{personaController.selected.fkMunicipioorigen}" title="#{bundle.ViewPersonaTitle_fkMunicipioorigen}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_fkTipoidentificacion}"/>
                    <h:outputText value="#{personaController.selected.fkTipoidentificacion}" title="#{bundle.ViewPersonaTitle_fkTipoidentificacion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personaController.destroyAndView}" value="#{bundle.ViewPersonaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPersonaEditLink}"/>
                <br />
                <h:commandLink action="#{personaController.prepareCreate}" value="#{bundle.ViewPersonaCreateLink}" />
                <br />
                <h:commandLink action="#{personaController.prepareList}" value="#{bundle.ViewPersonaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPersonaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
