<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProgramaformacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProgramaformacionLabel_pkProgramaformacion}" for="pkProgramaformacion" />
                    <h:inputText id="pkProgramaformacion" value="#{programaformacionController.selected.pkProgramaformacion}" title="#{bundle.CreateProgramaformacionTitle_pkProgramaformacion}" required="true" requiredMessage="#{bundle.CreateProgramaformacionRequiredMessage_pkProgramaformacion}"/>
                    <h:outputLabel value="#{bundle.CreateProgramaformacionLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{programaformacionController.selected.nombre}" title="#{bundle.CreateProgramaformacionTitle_nombre}" required="true" requiredMessage="#{bundle.CreateProgramaformacionRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateProgramaformacionLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{programaformacionController.selected.codigo}" title="#{bundle.CreateProgramaformacionTitle_codigo}" required="true" requiredMessage="#{bundle.CreateProgramaformacionRequiredMessage_codigo}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{programaformacionController.create}" value="#{bundle.CreateProgramaformacionSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{programaformacionController.prepareList}" value="#{bundle.CreateProgramaformacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProgramaformacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
