<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProgramaformacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProgramaformacionLabel_pkProgramaformacion}" for="pkProgramaformacion" />
                    <h:inputText id="pkProgramaformacion" value="#{programaformacionController.selected.pkProgramaformacion}" title="#{bundle.EditProgramaformacionTitle_pkProgramaformacion}" required="true" requiredMessage="#{bundle.EditProgramaformacionRequiredMessage_pkProgramaformacion}"/>
                    <h:outputLabel value="#{bundle.EditProgramaformacionLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{programaformacionController.selected.nombre}" title="#{bundle.EditProgramaformacionTitle_nombre}" required="true" requiredMessage="#{bundle.EditProgramaformacionRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditProgramaformacionLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{programaformacionController.selected.codigo}" title="#{bundle.EditProgramaformacionTitle_codigo}" required="true" requiredMessage="#{bundle.EditProgramaformacionRequiredMessage_codigo}"/>
                </h:panelGrid>
                <h:commandLink action="#{programaformacionController.update}" value="#{bundle.EditProgramaformacionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProgramaformacionViewLink}"/>
                <br />
                <h:commandLink action="#{programaformacionController.prepareList}" value="#{bundle.EditProgramaformacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProgramaformacionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
