<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProgramaformacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProgramaformacionEmpty}" rendered="#{programaformacionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{programaformacionController.items.rowCount > 0}">
                    <h:outputText value="#{programaformacionController.pagination.pageFirstItem + 1}..#{programaformacionController.pagination.pageLastItem + 1}/#{programaformacionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{programaformacionController.previous}" value="#{bundle.Previous} #{programaformacionController.pagination.pageSize}" rendered="#{programaformacionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{programaformacionController.next}" value="#{bundle.Next} #{programaformacionController.pagination.pageSize}" rendered="#{programaformacionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{programaformacionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProgramaformacionTitle_pkProgramaformacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkProgramaformacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProgramaformacionTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProgramaformacionTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{programaformacionController.prepareView}" value="#{bundle.ListProgramaformacionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{programaformacionController.prepareEdit}" value="#{bundle.ListProgramaformacionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{programaformacionController.destroy}" value="#{bundle.ListProgramaformacionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{programaformacionController.prepareCreate}" value="#{bundle.ListProgramaformacionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListProgramaformacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
