<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProgramaformacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProgramaformacionLabel_pkProgramaformacion}"/>
                    <h:outputText value="#{programaformacionController.selected.pkProgramaformacion}" title="#{bundle.ViewProgramaformacionTitle_pkProgramaformacion}"/>
                    <h:outputText value="#{bundle.ViewProgramaformacionLabel_nombre}"/>
                    <h:outputText value="#{programaformacionController.selected.nombre}" title="#{bundle.ViewProgramaformacionTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewProgramaformacionLabel_codigo}"/>
                    <h:outputText value="#{programaformacionController.selected.codigo}" title="#{bundle.ViewProgramaformacionTitle_codigo}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{programaformacionController.destroyAndView}" value="#{bundle.ViewProgramaformacionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProgramaformacionEditLink}"/>
                <br />
                <h:commandLink action="#{programaformacionController.prepareCreate}" value="#{bundle.ViewProgramaformacionCreateLink}" />
                <br />
                <h:commandLink action="#{programaformacionController.prepareList}" value="#{bundle.ViewProgramaformacionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProgramaformacionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
